[Unit]
Description=Dynamic output configuration
Documentation=man:kanshi(1)
PartOf=sway-session.target
Requires=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=always

[Install]
WantedBy=sway-session.target
