{{- $email := promptString "email" -}}
{{- $name := promptString "name" -}}
{{- $personal := promptString "Is this a personal device? (y/n)" -}}
{{- $work := promptString "Is this a work device? (y/n)" -}}

format: yaml

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  personal: "{{ $personal }}"
  work: "{{ $work }}"

encryption: "gpg"
gpg:
  {{- if (eq .personal "y") }}
  recipient: "A54D8FB506C103352E67737587CB975CFF2E7D8F"
  {{- else if (eq .work "y") }}
  recipient: "1DFB060053ACBC345763F28D3309F76E32F2C3DF"
  {{- end }}