{{- $email := promptString "email" -}}
{{- $name := promptString "name" -}}

{{- $personal := false -}}{{/* true if this machine is personal */}}
{{- $work := false -}}{{/* true if this machine is work */}}
{{- $personal = promptBool "personal" -}}
{{- $work = promptBool "work" -}}

format: yaml

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  personal: "{{ $personal }}"
  work: "{{ $work }}"


gpg:
  {{- if .personal }}
  recipient: "A54D8FB506C103352E67737587CB975CFF2E7D8F"
  {{- end}}
  {{- if .work }}
  recipient: ""
  {{- end }}
