[user]
    {{- if (eq .personal "true") }}
    name = Anthony Rabbito
    username = anthr76
    email = hello@anthonyrabbito.com
    signingkey = 16742B67E1D1403F8E9F9C257B5EDD176B969A31
    {{- else if (eq .work "true") }}
    name = Anthony Rabbito
    email = anthony.rabbito@sectigo.com
    signingkey = 2FF9285B23C8C213CFDBD6314B28A1FDFF5302A6
    {{- end }}

[core]
    editor = nvim
[commit]
    gpgsign = true
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red # deletions
    new = green # additions
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    tool = vimdiff
    ff = only
[status]
    submoduleSummary = true
[tag]
    forceSignAnnotated = true
[init]
    defaultBranch = main
