[Desktop Entry]
Version=1.0
Type=Application
Name=Discord (Chrome)
Comment=Discord (Chrome)
Exec=flatpak run com.google.Chrome --app="https://discord.com/app"
Icon=
Path=
Terminal=false
StartupNotify=false
